@page
@model PracaDyplomowa.Pages.Announcement.AddAnnouncementModel
@{
}
@using PracaDyplomowa.Models

<!-- For Ajax-->
@Html.AntiForgeryToken()

<body onload="onloadAnnouncement()">
    <ul class="nav nav-tabs mainNavTabs ">
        <li class="p-2">
            <span style="color: #fff; font-weight: 600">Dodaj ogłoszenie</span>
        </li>

        <li class=" " style="margin-left: auto; margin-right: 0; ">
            @if (User.IsInRole(Models.User.UserType.Standard))
            {
                <a class="nav-link goBackNavBarBtn" asp-page="/Restricted/RestrictedMain">
                    Wróć
                </a>
            }
            else
            {
                <a class="nav-link goBackNavBarBtn" asp-page="/Announcement/AnnouncementsOverview">
                    Wróć
                </a>
            }
        </li>
    </ul>

    <div class="innerContainer2">

        <form method="post" id="addAnnouncementForm" class="displaySpinner">
            <div id="reminderViewWindow">
                <div class="form-row justify-content-center " style="margin-top: 25px; margin-bottom:20px; width:100%">

                    <div class="row formPanelContainer justify-content-center">

                        <!--FIRST COLUMN-->
                        <div class="fitstFrom2Column">
                            <div class="fitstFrom2ColumnBtns">
                                <div style="padding:3%">
                                    <img class="" style="width: 100%; " src="~/img/white/broadcast.svg">
                                </div>
                                <div class="input-group justify-content-center mt-1">
                                    <input type="submit" class="btn btn-light btn-sm m-1" value="Zapisz" />
                                </div>
                            </div>
                        </div>

                        <!--SECOND COLUMN-->
                        <div class="secondFrom2Column">

                            <!--ALTERNATIVE 4 FIRST COLUMN-->
                            <div class="alternativeElement">
                                <input type="submit" class="btn btn-light btn-sm mr-2" value="Zapisz" />
                            </div>
                            <!--ALTERNATIVE-->



                            <div class="form-group mb-1  form-inline " style="margin-top:-12px">
                                <label for="announcementTitleInput" class="mb-1 labelInline">Tytuł</label>
                                <input type="text" class="form-control customFormInputv2 inputInline" id="announcementTitleInput"
                                       required>
                            </div>



                            <div class="form-group mb-1 form-inline " style="margin-top:-12px">
                                <label for="announcementContenstInput" class="mb-1 labelInline">Treść</label>
                                <textarea class="form-control customFormInputv2 inputInline" id="announcementContentInput"
                                          rows="4"> </textarea>
                            </div>




                            <div class=" mb-3 mt-3 announcementColorBoxDiv">
                                <div class="form-group  form-inline " style="margin-top:-12px;">
                                    <label for="selectannouncementFieldColor" class="labelInline">Tło</label>

                                    <input type="color" class="form-group  inputInline" id="selectannouncementFieldColor"
                                           value="#4B878B" />
                                </div>


                                <div class="form-group  mb-3 form-inline pb-1" style="margin-top:-15px ;">
                                    <label for="selectAnnouncementFontColor" class="labelInline">Czcionka</label>

                                    <input type="color" class="" id="selectAnnouncementFontColor"
                                           value="#ffffff" />
                                </div>
                            </div>


                            <div class="form-group  mb-1  form-inline " style="margin-top:-12px">
                                <label for="DodajSprzetImg" class="mb-1 labelInline">Upload</label>
                                <input type="file" class="form-control customFormFileInput inputInline fileUpload" id="fileUpload"  />
                            </div>
                     

                            <hr />
                            <div class="form-group   form-inline justify-content-center" style="margin-top:-12px">
                                <label for="addActionUserTable" class="mb-1 mt-3" style="font-weight: 600; font-size:1.1em;cursor:pointer" 
                            data-toggle="collapse" data-target="#addAnnouncementUserTableContainer" aria-expanded="false" aria-controls="addAnnouncementUserTableContainer">
                            ⌄ Adresaci </label>

                                   <div class=" collapse show" id="addAnnouncementUserTableContainer"  style=" width: 100%;">
                                 @if(Model.ListOfUsers.Count == 0)
                                    {
                                        <p style="text-align:center;font-size:1.2em;color:#999">BRAK  </p>
                                    }
                                <table class="tableDefaultSm  " id="addAnnouncementUserTable">
                                    <thead></thead>
                                    @{
                                        for (int i = 0; i < Model.ListOfUsers.Count; i++)
                                        {
                                            if (@Model.ListOfUsers[i].Zatwierdzony == "n")
                                            {
                                                continue;
                                            }
                                            <tbody>
                                                <tr class="" style=" cursor: pointer" onclick="addMemberAnnouncementTableOnClick(this)">

                                                    <td data-label="" style="width:0;">
                                                        <input type="checkbox" style="display:none;" class="ActionCheckBox" onclick="return false;" />
                                                    </td>

                                                    <td style="display:none;">
                                                        <input type="hidden" value="@Model.ListOfUsers[i].Email" readonly />
                                                    </td>

                                                    <td style="display:none;">
                                                        <input type="hidden" value="@Model.ListOfUsers[i].Jednostka_id" readonly />
                                                    </td>

                                                    <td data-label="">
                                                        @(CustomStr.Adjust(Model.ListOfUsers[i].Imie)+" ")
                                                        @CustomStr.Adjust(Model.ListOfUsers[i].Nazwisko)
                                                    </td>
                                                    
                                                </tr>
                                            </tbody>
                                        }
                                    }
                                </table>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>







