@page
@model PracaDyplomowa.Pages.Finances.EditFinancescshtmlModel
@{
}

<body>
    <ul class="nav nav-tabs mainNavTabs ">
        <li class="nav-item ">
            <a class="nav-link navItemMembers " id=""
               asp-route-selectedFinancesId="@Model.EditFinances.Id"
               asp-page="/Finances/ViewFinances">Podgląd</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link navItemMembers active" id=""
               asp-route-selectedFinancesId="@Model.EditFinances.Id"
               asp-page="/Finances/EditFinances">Edytuj</a>
        </li>
        <li class=" " style="margin-left: auto; margin-right: 0; ">
            @if (User.IsInRole(Models.User.UserType.Standard))
            {
                <a class="nav-link goBackNavBarBtn" asp-page="/Restricted/RestrictedMain">
                    Wróć
                </a>
            }
            else
            {
                <a class="nav-link goBackNavBarBtn" asp-page="/Finances/FinancesOverview">
                    Wróć
                </a>
            }
        </li>
    </ul>

    <div class="innerContainer2">

        <form method="post" id="addActionForm" class="displaySpinner">
            <div id="reminderViewWindow" class="m-3">
                <div class="form-row justify-content-center " style="margin-top: 25px; margin-bottom:20px; width:100%">

                    <div class="row formPanelContainer justify-content-center">

                        <!--FIRST COLUMN-->
                        <div class="fitstFrom2Column">
                            <div class="fitstFrom2ColumnBtns">
                                <div style="padding:3%">
                                    <img class="" style="width: 100%;"
                                         src="~/img/white/safe2-fill.svg">
                                </div>
                                <div class="input-group justify-content-center mt-1">
                                    <input type="submit" class="btn btn-light btn-sm m-1" value="Zapisz"
                                           asp-page-handler="EditFinances" asp-route-FinancesId="@Model.EditFinances.Id" />
                                </div>
                            </div>
                         </div>

                            <!--SECOND COLUMN-->
                            <div class="secondFrom2Column">

                                <!--ALTERNATIVE 4 FIRST COLUMN-->
                                <div class="alternativeElement" >
                                    <input type="submit" class="btn btn-light btn-sm mr-2" value="Zapisz"
                                           asp-page-handler="EditFinances" asp-route-FinancesId="@Model.EditFinances.Id" />
                                </div>
                                <!--ALTERNATIVE-->


                                <div class="form-group mb-0  form-inline " style="margin-top:-12px">
                                    <label for="DodajAkcjeTypZdarzenia" class="mb-1 labelInline">Dokument</label>
                                    <input type="text" class="form-control customFormInputv2 inputInline"
                                           asp-for="EditFinances.Dokument" required>
                                </div>

                                <div class="orm-group mb-0  form-inline " style="margin-top:-12px">
                                    <label for="PrzypOdbiorcy" class="mb-1 labelInline">Opis</label>
                                    <textarea class="form-control customFormInputv2 inputInline" rows="3"
                                              asp-for="EditFinances.Opis">
                            </textarea>
                                </div>

                                <div class="form-group mb-0  form-inline " style="margin-top:-12px">
                                    <label for="DodajAkcjeTypZdarzenia" class="mb-1 labelInline">Kwota</label>
                                    <input type="number" class="form-control customFormInputv2 inputInline" id=""
                                           asp-for="EditFinances.Kwota" required>
                                </div>

                                <div class="form-group  mb-0  form-inline " style="margin-top:-12px">
                                    <label for="DodajAkcjeDataZakonczenia" class="mb-1 labelInline">Wybierz typ</label>
                                    <select class="form-control customSelectInput inputInline"
                                            asp-for="EditFinances.TypTransakcji" required>
                                        <option value="" disabled selected>Wybierz...</option>
                                        <option value="@Models.Finances.TransactionTypes.Wplyw">
                                            Wpływ
                                        </option>
                                        <option value="@Models.Finances.TransactionTypes.Wydatek">
                                            Wydatek
                                        </option>
                                        <option value="@Models.Finances.TransactionTypes.KorektaPlus">
                                            Korekta +
                                        </option>
                                        <option value="@Models.Finances.TransactionTypes.KorektaMinus">
                                            Korekta -
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group mb-0  form-inline " style="margin-top:-12px">
                                    <label for="DodajAkcjeTypZdarzenia" class="mb-1 labelInline">Odbiorca</label>
                                    <input type="text" class="form-control customFormInputv2 inputInline"
                                           asp-for="EditFinances.Odbiorca">
                                </div>

                                <div class="form-group mb-0  form-inline " style="margin-top:-12px">
                                    <label for="DodajAkcjeTypZdarzenia" class="mb-1 labelInline">Źrodło</label>
                                    <input type="text" class="form-control customFormInputv2 inputInline"
                                           asp-for="EditFinances.Zrodlo">
                                </div>

                                <div class="form-group  mb-0  form-inline " style="margin-top:-12px">
                                    <label for="DodajAkcjeDataZakonczenia" class="mb-1 labelInline">Data</label>
                                    <input type="date" class="form-control customFormInputv2 inputInline" id=""
                                           asp-for="EditFinances.DataTransakcji">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
</body>