@page
@model PracaDyplomowa.Pages.Members.EditPasswordModel
@{
}

<input type="hidden" asp-for="UserInfo.UzytkownikId" />

<ul class="nav nav-tabs mainNavTabs">
    <li class="nav-item ">
        <a class="nav-link navItemMembers " id=""
           asp-route-selectedMemberId="@Model.UserInfo.UzytkownikId"
           asp-page="/Members/ViewMember">Podgląd</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link navItemMembers" id=""
           asp-route-selectedMemberId="@Model.UserInfo.UzytkownikId"
           asp-page="/Members/EditMember">Edytuj</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link navItemMembers active" id="mamberEditPassTab"
           asp-route-selectedMemberId="@Model.UserInfo.UzytkownikId"
           asp-page="/Members/EditPassword">Zmień hasło</a>
    </li>
    <li class=" " style="margin-left: auto; margin-right: 0; ">
        @if (User.IsInRole(Models.User.UserType.Standard))
        {
            <a class="nav-link goBackNavBarBtn" asp-page="/Restricted/RestrictedMain">
                Wróć
            </a>
        }
        else
        {
            <a class="nav-link goBackNavBarBtn" asp-page="/Members/MembersOverview">
                Wróć
            </a>
        }
    </li>
</ul>


<div class="innerContainer2">


    <form method="post" class="displaySpinner">
        <div id="memberEditPassWindow" class=" m-3 ">
            <div class="form-row justify-content-center" style="margin-top: 60px; width:100%">

                <div class="row formPanelContainer justify-content-center">

                    <!--FIRST COLUMN-->
                    <div class="fitstFrom2Column ">
                        <div>
                            <div id="">
                                <img class="" style="width: 100%;" src="~/img/white/file-earmark-lock2.svg">
                            </div>
                            <div class="input-group justify-content-center mt-1">
                                <input type="submit" id="submitPassUpdate" class="btn btn-light btn-sm m-1" value="Zapisz"
                                       asp-page-handler="NewPass" asp-route-userId="@Model.UserInfo.UzytkownikId" />
                            </div>
                        </div>
                     
                    </div>

                    <!--SECOND COLUMN-->
                    <div class="secondFrom2Column ">

                        <!--ALTERNATIVE 4 FIRST COLUMN-->
                        <div class="alternativeElement">
                            <input id="alternativeSubmitPassUpdate" type="submit" class="btn btn-light btn-sm" value="Zapisz"
                                   asp-page-handler="NewPass" asp-route-userId="@Model.UserInfo.UzytkownikId" />
                        </div>
                        <!--ALTERNATIVE-->

                        <div class="form-group form-inline mb-0 mt-2">
                            <label for="updateMemberPass" class="labelInline">Hasło</label>
                            <input type="password" class="inputInline form-control customFormInputv3 mb-2 "
                                   id="updateMemberPass" oninput="checkIfUpdatePasswordIsEqual('displayUpdatePassError')"
                                   asp-for="newPasswordInput" required>
                        </div>
                        <div style="margin-left: 5em" id="displayUpdatePassError"> </div>


                        <div class="form-group mb-2  form-inline ">
                            <label for="updateMemberPassConfirm" class="labelInline text-nowrap">Potwierdź</label>
                            <input type="password" class="form-control customFormInputv3  inputInline"
                                   id="updateMemberPassConfirm" required
                                   oninput="checkIfUpdatePasswordIsEqual('displayConfirmUpdatePassError')">
                        </div>
                        <div style="margin-left: 5em" id="displayConfirmUpdatePassError"> </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>