@page
@model PracaDyplomowa.Pages.Members.MembersOverviewModel
@{
}

@using PracaDyplomowa.Models

<!--for js communication-->
<input class="backendALert" type="hidden" runat="server" value="@Model.passAlert">

<!-- For Ajax-->
@Html.AntiForgeryToken()

<body onload="onloadMember()">
    <div class="upperMenuBarContainer"></div>
    <div class="upperMenuBar">
        <div class="dropdown">
            <button class="btn btn-light btn-sm dropdown-toggle dropdownMenuMenuBar" type="button"
                    data-toggle="dropdown" aria-expanded="false">
            </button>
            <div class="dropdown-menu shadow p-3" aria-labelledby="dropdownMenuButton"
                 style="background-color: #f0f2f5; border: solid thin #d0d2d5 ">
                <form method="post">
                    <p class=" bg-dark text-white p-1" style="border-radius:4px">Filtruj:</p>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" id="MemberCustomRadioFilter1" name="MemberCustomRadioFilter"
                               class="custom-control-input" value="management">
                        <label class="custom-control-label" style="white-space:nowrap"
                               for="MemberCustomRadioFilter1">Zarząd</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" id="MemberCustomRadioFilter2" name="MemberCustomRadioFilter"
                               class="custom-control-input" value="all" checked>
                        <label class="custom-control-label" style="white-space:nowrap"
                               for="MemberCustomRadioFilter2">Wszyscy</label>
                    </div>


                    <p class="bg-dark text-white p-1 " style="border-radius:4px">Sortuj:</p>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" id="MemberCustomRadioSort1" name="MemberCustomRadioSort" value="name"
                               class="custom-control-input">
                        <label class="custom-control-label" for="MemberCustomRadioSort1">Imie</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" id="MemberCustomRadioSort2" name="MemberCustomRadioSort" value="lastName"
                               class="custom-control-input" checked>
                        <label class="custom-control-label" for="MemberCustomRadioSort2">Nazwisko</label>
                    </div>
                    <div class="custom-control custom-radio mb-1">
                        <input type="radio" id="MemberCustomRadioSort3" name="MemberCustomRadioSort" value="function"
                               class="custom-control-input">
                        <label class="custom-control-label" for="MemberCustomRadioSort3">Funkcja</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                        <input type="radio" id="MemberCustomRadioSort4" name="MemberCustomRadioSort" value="date"
                               class="custom-control-input">
                        <label class="custom-control-label" for="MemberCustomRadioSort4">Data wstąpienia</label>
                    </div>

                    <input type="submit" style="width:100%" class="btn btn-dark" value="Zapisz"
                           asp-page-handler="SaveDisplayOptions" />
                </form>
            </div>
        </div>

        <a class="btn btn-secondary btn-sm ml-3" style="color:white" title="Dodaj" asp-page="/Members/AddMember">
            Dodaj
        </a>

        <div style="width:100%">
            <input type="search" id="searchMemberOverviewInput" placeholder="Szukaj"
                   style="float: right; width: 40%; min-width: 58px;"
                   class="btn btn-sm btn-light" oninput="searchMemberOverview()" />
        </div>
    </div>


    <div class="innerContainerMembers" style=" overflow-x: auto;">

        <!--  <div class="upperBar"></div> -->


        <table id="membersTable" class="tableDefault seperateRow">
            <thead>
                <tr style="position: sticky; top: 0;">
                    <th scope="col">Lp.</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Funkcja</th>
                    <th scope="col">Data wstapienia</th>
                    <th scope="col">Status</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Akcja</th>
                </tr>
            </thead>


            @{

                var count = 0;
                for (int i = 0; i < Model.ListOfUsers.Count; i++)
                {
                    var backgroundHex = "#fff";
                    var fontHex = "#000";
                    var dynamicClass = "tableButtonCell";
                    if (@Model.ListOfUsers[i].Zatwierdzony == "n")
                    {
                        continue;
                    }
                    @if (@Model.ListOfUsers[i].Status == Models.StandbyStatus.Niedostepny)
                    {
                        backgroundHex = "#e1e2e4";
                        fontHex = "#777";
                        dynamicClass = "altrnativetableButtonCell";
                    }
                    count++;
                    <tbody>
                        <tr class="" style=" cursor: pointer; background-color: @backgroundHex ; color: @fontHex">
                            <td data-label="Lp.">
                                @(count+".")
                                <input type="hidden" value=@Model.ListOfUsers[i].UzytkownikId />
                            </td>

                            <td data-label="Imię">
                                @CustomStr.Adjust(Model.ListOfUsers[i].Imie)
                            </td>

                            <!--
                                 <td data-label="Imię">
                                    <div  style="display:grid">
                                        <div>@CustomStr.Adjust(Model.ListOfUsers[i].Imie)</div>
                                        <div>@CustomStr.Adjust(Model.ListOfUsers[i].Nazwisko)</div>
                                     </div>
                                </td>
                            -->

                            <td data-label="Nazwisko">
                                @CustomStr.Adjust(Model.ListOfUsers[i].Nazwisko)
                            </td>

                            <td data-label="Funkcja">
                                @CustomStr.Adjust(Model.ListOfUsers[i].Funkcja)
                            </td>

                            <td data-label="Data wstapienia">
                                @CustomStr.Adjust(Model.ListOfUsers[i].DataWstapienia, 20)
                            </td>

                            <td data-label="Status">

                                @if (@Model.ListOfUsers[i].Status == Models.StandbyStatus.Niedostepny)
                                {
                                    <!--<span style="color: #fc3a7b">⬤</span> //◕-->
                                    @CustomStr.Adjust(Model.ListOfUsers[i].Status)

                                }
                                else if (@Model.ListOfUsers[i].Status == Models.StandbyStatus.Dostepny)
                                {
                                    <span style="color: #8cde49">⬤</span> //◕
                                    @CustomStr.Adjust(Model.ListOfUsers[i].Status)

                                }
                                else
                                {
                                    @CustomStr.Adjust(Model.ListOfUsers[i].Status)
                                }

                            </td>


                            <td data-label="Avatar">
                                <img src="~/uploads/img/avatar/@Model.ListOfUsers[i].ImgNazwa" alt=""
                                     onerror="this.src='/img/gray/person-fill.svg'" class="avatar">
                            </td>

                            <td data-label="Akcja">
                                <div class="tableButtonCellContainerInline">
                            
                              
                                    <div class="@dynamicClass">
                                        <a id="" class="btn btn-outline-secondary tableButtonEdit"
                                            title="Edycja" asp-route-selectedMemberId="@Model.ListOfUsers[i].UzytkownikId"
                                            asp-page="/Members/EditMember"> </a>
                                    </div>
                                
                                </div>
                            </td>

                        </tr>
                    </tbody>
                }
            }

        </table>

    </div>
</body>