@page
@model PracaDyplomowa.Pages.Competition.ViewCompetitionModel
@{
}

@using PracaDyplomowa.Models

@{
    string CompetitionDate = "";
    try
    {
        CompetitionDate = Convert.ToDateTime(@Model.CompetitionObj.Data).ToString("yyyy-MM-dd");
    }
    catch (Exception ex)
    {
        Console.WriteLine("Error converting toDateTime @EditCompetitionModel" + ex.Message);
    }

}

<body onload="onloadEditCompetition()">

    <input type="hidden" asp-for="selectedCompetitionId" />

    <ul class="nav nav-tabs mainNavTabs ">
        <li class="nav-item ">
            <a class="nav-link navItemMembers active " id=""
               asp-route-selectedCompetitionId="@Model.CompetitionObj.Id"
               asp-page="/Competition/ViewCompetition">Podgląd</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link navItemMembers " id=""
               asp-route-selectedCompetitionId="@Model.CompetitionObj.Id"
               asp-page="/Competition/EditCompetition">Edytuj</a>
        </li>
        <li class=" " style="margin-left: auto; margin-right: 0; ">
            @if (User.IsInRole(Models.User.UserType.Standard))
            {
                <a class="nav-link goBackNavBarBtn" asp-page="/Restricted/RestrictedMain">
                    Wróć
                </a>
            }
            else
            {
                <a class="nav-link goBackNavBarBtn" asp-page="/Competition/CompetitionOverview">
                    Wróć
                </a>
            }
        </li>
    </ul>


    <div class="innerContainer2">

      
            <div id="competitionEditWindow" class="m-3">
                <div class="form-row justify-content-center " style="margin-top: 25px; margin-bottom:20px; width:100%">

                    <div class="row formPanelContainer justify-content-center">

                        <!--FIRST COLUMN-->
                        <div class="fitstFrom2Column">
                            <div style="padding:3%">
                                <img class="" style="width: 100%; "
                                     src="~/img/white/stopwatch-fill.svg">
                            </div>
                        </div>

                        <!--SECOND COLUMN-->
                        <div class="secondFrom2Column">

                            <div class="form-group mb-1  form-inline " style="margin-top:-12px">
                                <label for="DodajAkcjeTypZdarzenia" class="mb-1 labelInline">Kategoria</label>
                                <input type="text" class="form-control customFormInputReadOnly inputInline" id=""
                                       value=@Model.CompetitionObj.Kategoria readonly>
                            </div>


                            <div class="form-group mb-1  form-inline " style="margin-top:-12px">
                                <label for="DodajAkcjeTypZdarzenia" class="mb-1 labelInline">Szczebel</label>
                                <input type="text" class="form-control customFormInputReadOnly inputInline" id=""
                                       value=@Model.CompetitionObj.Szczebel readonly>
                            </div>


                            <div class="form-group mb-1  form-inline " style="margin-top:-12px">
                                <label for="DodajAkcjeTypZdarzenia" class="mb-1 labelInline">Miejsce</label>
                                <input type="number" class="form-control customFormInputReadOnly inputInline" id=""
                                       value=@Model.CompetitionObj.ZajeteMiejsce readonly>
                            </div>

                            <div class="form-group mb-1  form-inline " style="margin-top:-12px">
                                <label for="DodajAkcjeTypZdarzenia" class="mb-1 labelInline">Uczestników</label>
                                <input type="text" class="form-control customFormInputReadOnly inputInline" id=""
                                       value=@Model.CompetitionObj.IloscUczestnikow readonly>
                            </div>

                            <div class="form-group  mb-1  form-inline " style="margin-top:-12px">
                                <label for="DodajAkcjeDataZakonczenia" class="mb-1 labelInline">Data</label>
                                <input type="date" class="form-control customFormInputReadOnly inputInline" id=""
                                       value=@CompetitionDate readonly>

                            </div>


                            <hr />

                             <div class="form-group form-inline justify-content-center" >
                                <label for="addActionUserTable" class="mb-1 mt-3" style="font-weight: 600; font-size:1.1em;cursor:pointer" 
                                data-toggle="collapse" data-target="#viewCompetitionMemberContainer" aria-expanded="false" aria-controls="viewCompetitionMemberContainer">
                                ⌄ Uczestnicy </label>

                                 <div class=" collapse show" id="viewCompetitionMemberContainer"  style=" width: 100%;">
                                 @if(Model.ListOfParticipantsId.Count == 0)
                                    {
                                        <p style="text-align:center;font-size:1.2em;color:#999">BRAK  </p>
                                    }

                                <table class="tableDefaultSm " id="viewCompetitionMember">
                                    <thead></thead>
                           
                                            @for (int i = 0; i < Model.ListOfUsers.Count; i++)
                                            {
                                                if (Model.ListOfParticipantsId.Contains(Model.ListOfUsers[i].UzytkownikId))
                                                {
                                                     int index = Model.ListOfCompetitionParticipants.
                                                        FindIndex(r => r.UczestnikId.Equals(Model.ListOfUsers[i].UzytkownikId));

                                                      <tbody>
                                                        <tr class="" style=" cursor: pointer">
                                                  
                                                            <td data-label="" >
                                                                    @CustomStr.Adjust(Model.ListOfUsers[i].Imie + " " 
                                                                    + Model.ListOfUsers[i].Nazwisko,25 )
                                                                    <br/>
                                                                    @("▪ Rola: "+CustomStr.Adjust(Model.ListOfCompetitionParticipants[@index].Rola,25))
                                                                    <input type="hidden" value="@Model.ListOfUsers[i].UzytkownikId" readonly />
                                                            </td>
                                                           
                                                        </tr>
                                                    </tbody>
                                                }
                                            }
                                        </table>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
     
    </div>
</body>